<%- include('../../shared/includes/head', { pageTitle: 'All Your orders' }) %>
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
      <h1>주문 목록</h1>   
    </main>
<%- include("../../shared/includes/footer") %>